<div class="container-fluid main">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card-img">
          <img src="../../assets/family.png" class="img-res" alt="family">
          <br>
            <h1 class="text">Family</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card-img">
            <img src="../../assets/client.jpg" class="img-res" alt="Client">
            <br>
              <h1 class="text">Client</h1>
          </div>
      </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card-img">
            <img src="../../assets/conference.png" class="img-res" alt="Conference">
            <br>
              <h1 class="text">Conference</h1>
          </div>
      </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card-img">
            <img src="../../assets/guest.jpg" class="img-res" alt="Guest">
            <br>
              <h1 class="text">Guest</h1>
          </div>
      </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card-img">
            <img src="../../assets/interviewee.png" class="img-res" alt="Interviewee">
            <br>
              <h1 class="text">Interviewee</h1>
          </div>
      </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card-img">
            <img src="../../assets/lostid.jpg" class="img-res" alt="family">
            <br>
              <h1 class="text">Lost Id Card</h1>
          </div>
      </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card-img">
          <a routerLink="/new-joinee" class="link"> 
            <img src="../../assets/newjoinee.jpg" class="img-res" alt="family">
            <br>
              <h1 class="text">New Joinee</h1>
          </a>
        </div>
      </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card-img">
            <img src="../../assets/vendor.jpg" class="img-res" alt="Vendor">
            <br>
              <h1 class="text">Vendor</h1>
          </div>
      </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card-img">
            <img src="../../assets/vip.jpg" class="img-res" alt="VIP">
            <br>
              <h1 class="text">VIP</h1>
          </div>
      </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card-img">
            <a routerLink="/new-joinee" class="link"> 
            <img src="../../assets/visitor.jpg" class="img-res" alt="Visitor">
            <br>
              <h1 class="text">Visitor</h1>
            </a>
          </div>
      </div>
  </div>
</div>